<h1><%= @place["name"] %></h1>

<h2>My Posts</h2>

<% for post in @posts %>
  <h3><%= post["description"] %></h3>
  <p><%= post["posted_on"] %></p>
  <h4><%= post["title"] %></h4>
<% end %>

<p>
  <a href="/posts/new?place_id=<%= @place["id"] %>">New Post</a>
</p>

<p>
  <a href="/places">Back to All Places</a>
</p>